
.main{
    width: 100%;
    background-image: url(Assets/image/photo-1579548122080-c35fd6820ecb.avif);
    background: linear-gradient(to top, rgba(0,0,0,0,5)50%,rgba(0,0,0,0,5)50%);
    background-position: center;
    background-size: cover;
    height: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
}

.hero-banner {
  background: transparent;
  
  color: white;
}

.form1{
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: right;
  justify-content: right;
}

.container1{
  width: 400px;
  height: 500px;

  background: green;

  display: flex;
  align-items: right;
  justify-content: right;
  flex-direction: column;
}

h2{
  color: #fff;
  text-transform: uppercase;
  padding: 20px 0;
  font-size: 2em;
}



.login-box {
    background-color: transparent; 
    border: 2px solid rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(10px); 
    padding: 30px; 
    border-radius: 15px; 
    color: white; 
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 250px;
}

.login-box .form-label {
    font-weight: bold;
}

.login-box .form-control {
    background-color: rgba(255, 255, 255, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
}

.login-box .form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);  
}
